<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>FlyAwayCode</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HomeServlet</display-name>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>com.hari.flyawaypkg.HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/HomeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>tblFlights</display-name>
    <servlet-name>tblFlights</servlet-name>
    <servlet-class>com.hari.flyawaypkg.tblFlights</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>tblFlights</servlet-name>
    <url-pattern>/tblFlights</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TblBooking</display-name>
    <servlet-name>TblBooking</servlet-name>
    <servlet-class>com.hari.flyawaypkg.TblBooking</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TblBooking</servlet-name>
    <url-pattern>/TblBooking</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddFlight</display-name>
    <servlet-name>AddFlight</servlet-name>
    <servlet-class>com.hari.flyawaypkg.AddFlight</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFlight</servlet-name>
    <url-pattern>/AddFlight</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Authenticate</display-name>
    <servlet-name>Authenticate</servlet-name>
    <servlet-class>com.hari.flyawaypkg.Authenticate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Authenticate</servlet-name>
    <url-pattern>/Authenticate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Checkout</display-name>
    <servlet-name>Checkout</servlet-name>
    <servlet-class>com.hari.flyawaypkg.Checkout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Checkout</servlet-name>
    <url-pattern>/Checkout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.hari.flyawaypkg.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Payment</display-name>
    <servlet-name>Payment</servlet-name>
    <servlet-class>com.hari.flyawaypkg.Payment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Payment</servlet-name>
    <url-pattern>/Payment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Results</display-name>
    <servlet-name>Results</servlet-name>
    <servlet-class>com.hari.flyawaypkg.Results</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Results</servlet-name>
    <url-pattern>/Results</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SavePwd</display-name>
    <servlet-name>SavePwd</servlet-name>
    <servlet-class>com.hari.flyawaypkg.SavePwd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SavePwd</servlet-name>
    <url-pattern>/SavePwd</url-pattern>
  </servlet-mapping>
</web-app>